<!-- layouts/shortcodes/sponsors.html -->
<div class="sponsors-container">
    {{ range .Site.Data.sponsors }}
    <div class="sponsor">
        <a href = "{{ .url }}" target="_blank">
            <img src="{{ .image }}" alt="Sponsor Logo">
    </div>
    {{ end }}
</div>
<style>
 .sponsors-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center; /* Center items vertically */
 }
 .sponsor {
     margin: 10px;
     text-align: center;
 }
 .sponsor img {
     max-width: 300px;
 }
</style>
